.backdrop {
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
