* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backdrop {
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
}
